.containerMaster{
    border: 5px solid black;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

div{
    display: flex;
    gap: 5px;
    height: 100px;
}

button {
    flex-grow: 1;
}

.buttonClear {
    flex-grow:1;
    flex-basis:0;
}